<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome, <%= @user.first_name %></h1>
    <p>
      You have successfully signed up to the Jungle,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, click <a href="https://fast-fortress-80919.herokuapp.com/">here.</a>   </p>
    <p>Thanks for joining and have a great day!</p>





    <p>if this isn't you please ignore this email</p>
  </body>
</html>